#x-scroll {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#x-scroll > .spacer {
  height: 64px;
  width: 100%;
}

@media (max-width: 600px) and (orientation: portrait) {
  #x-scroll > .spacer {
    height: 56px;
  }
}
