#x-app {
  position: relative;
  min-height: calc(100vh + 1px);
}

#-app * {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body,
header > * {
  max-width: 700px;
  min-width: 0 !important;
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

img {
  vertical-align: middle;
}

.md-card {
  border-radius: 0;
}

.no-link {
  padding: 0 !important;
  background-color: transparent !important;
}

.md-no-button {
  min-width: 0 !important;
  min-height: 0 !important;
}

.default-margin-left {
  margin-left: 16px;
}

input {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}
